html {
    padding: 0;
    width: 100%;
    background-color: rgba(248, 248, 248, 0.7);
    font-size: 18px;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    width: calc(100% - 40px);
    height: 100%;

}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

header {
    margin: 0 auto;
    width: 300px;
}

a {
 text-decoration-line: none;
}

ul {
    padding-left: 30px;
}

ul li {
    list-style: none;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
}

table, th, td {
    padding: 5px;
    border: 1px solid rgba(126, 111, 111, 0.7);
}

main p {
    text-indent: 30px;
}

hr {
    margin: 20px 10px;
}

footer {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 150px;
}

@media all and (min-width: 320px) {
    body {
        overflow-x: hidden;
    }
}
.preview {
    width: 100%;
    margin-bottom: 40px;
}

.nav {
    margin: 20px auto 0;
}

.menu-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    list-style: none;
    padding-left: 20px;
    opacity: 0;
    height: 0px;
    transition: 0.5s;
}

.hamburger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-line, .hamburger::after, .hamburger::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2.4px;
    background: #000000;
    border-radius: 5px;
}

.hamburger {
    transition: 0.4s;
    position: relative;
    width: 25px;
    height: 20px;
    margin-right: 20px;
}

.hamburger::before {
    top: 0;
    left: 0;
}
.hamburger::after {
    bottom: 0;
    left: 0;
}

.rotate {
    transform: rotate(90deg);
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger-line {
    top: calc(50% - 1.5px);
    left: 0;
}
